{% extends '::base.html.twig' %}

{% block body %}
    <h1>{{ section }}</h1>

    {% for document in documents %}
        <div><a href="{{ url('anh_content_' ~ section ~ '_view', { 'section': section, 'slug': document.getSlug() }) }}">{{ document.getTitle() }}</a></div>
    {% endfor %}
{% endblock %}
