{% extends 'AnhContentBundle:Default:layout.html.twig' %}

{% import 'AnhPagerBundle::macro.html.twig' as pagination %}

{% block title %}Categories{% endblock %}

{% block content %}
    {% for category in pager.getResult() %}
        {% include 'AnhContentBundle:Default:_blockCategory.html.twig' %}
    {% endfor %}

    <div id="pager" class="paginator"></div>
{% endblock %}

{% block stylesheets %}
    {{ pagination.stylesheets() }}
{% endblock %}

{% block javascripts %}
    {{ pagination.javascripts() }}
    {{ pagination.init('pager', pager) }}
{% endblock %}
