{% extends 'AnhContentBundle:Default:layout.html.twig' %}

{% block title %}{{ category.title }}{% endblock %}

{% block content %}
    <h1>{{ category.title }}</h1>

    {% for paper in resource %}
        {% include 'AnhContentBundle:Default:_blockPaperPreview.html.twig' %}
    {% endfor %}
{% endblock %}
