.CodeMirror {
    font-family: 'Courier New';
    font-size: 15px;
    line-height: 1.3;
    height: 400px;
    color: #333;
}

.editor {
    min-width: 700px;
}

.editor-codemirror {
    border: 1px solid silver;
}

.editor-toolbar {
    margin: 5px 0;
}

.editor-toolbar-delimiter {
    display: inline-block;
    margin: 0 5px;
    color: #ddd;
}

.editor-tag-button, .editor-uploader-button, .editor-toggle-tags, .editor-chars-counter {
    display: inline-block;
    margin: 0 8px;
    font-size: 13px;
    cursor: pointer;
    color: #222;
}

.editor-chars-counter {
    cursor: default;
}

.editor-uploader {
    /*height: 10em;*/
    display: none;
    border-top: 1px solid silver;
    border-left: 1px solid silver;
    border-right: 1px solid silver;
}

.editor-uploader-list {
    padding: 5px;
}

.editor-uploader-list > span {
    display: inline-block;
    position: relative;
    padding: 5px;
    margin: 0 5px;
    width: 118px;
    box-sizing: border-box;
}

.editor-uploader-list img {
    padding: 4px;
    box-sizing: border-box;
}

.editor-uploader-list .highlighted {
    border: 4px solid limegreen;
    padding: 0;
    border-radius: 4px;
}

.editor-uploader-list .original-file-name {
    font-size: 9px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    display: inline-block;
    width: 110px;
}

.editor-uploader-list a {
    position: absolute;

    font-size: 25px;
    text-decoration: none;

    color: white;
    text-shadow: 0 0 2px gray;

    opacity: 0.85;

    display: none;
}

.editor-uploader-list [class^="editor-asset-align"] {
    top: 40px;
    font-size: 20px;
    opacity: 1;
}

.editor-uploader-list .editor-asset-align-left {
    left: 0;
}

.editor-uploader-list .editor-asset-align-center {
    left: 50px;
}

.editor-uploader-list .editor-asset-align-right {
    right: 0;
}

.editor-uploader-list .editor-asset-align-none {
    left: 50px;
    top: 70px;
}

.editor-asset-align-none.single {
    top: 45px;
}

.editor-uploader-list .editor-asset-delete {
    right: 0;
    top: 0;

    font-size: 11px;

    border: 1px solid white;
    border-radius: 99px;
    background-color: crimson;
    color: white;
    padding: 1px 3px;
    box-shadow: 1px 1px 3px 0 rgba(3, 3, 3, 0.3);

    text-shadow: none;
}

.editor-uploader-list .editor-asset-star {
    left: -5px;
    top: -5px;
}

.editor-uploader-list .editor-asset-zoom {
    left: 0;
    bottom: 18px;
    font-size: 20px;
}

.editor-uploader-list .editor-asset-star.selected {
    display: block !important;
    color: orangered;
}

.editor-upload-button input {
    font-size: inherit !important;
}

.editor-uploader-toolbar {
    margin: 5px;
}

.editor-upload-button {
    padding: 4px 10px;
    font-size: 12px;
    border-radius: 3px;
}
