{% extends "AnhContentBundle:Admin:layout.html.twig" %}

{% use "AnhContentBundle:Admin:paper/init-add-edit.html.twig" %}

{% form_theme form 'AnhContentBundle:Form:paper.html.twig' %}

{% block title %}New paper in {{ section }}{% endblock %}

{% block content %}
    <h2>New paper in {{ section }}</h2>

    {{ form(form) }}

    {% include "AnhContentBundle:Admin:paper/uploader-template.html.twig" %}
{% endblock %}
