{% extends "AnhContentBundle:Admin:layout.html.twig" %}

{% import "AnhDateTimePickerBundle::macro.html.twig" as dateTimePicker %}
{% import "AnhTaggableBundle::macro.html.twig" as taggable %}
{% use "AnhContentBundle:Admin:paper/init-add-edit.html.twig" %}

{% block title %}Edit paper in {{ section }}{% endblock %}

{% block content %}
    <h2>Edit paper in {{ section }}</h2>

    {{ form(form) }}
{% endblock %}
